/* general */
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1, h2 {
	font-weight: 500;
}

h1 span {
	font-size: 24px;
}

h3, a.navbar-brand {
	font-weight: 100;
}

a, p {
	font-weight: 200;
}

table img {
	height: 56px;
	width: 56px;
}

#patient-search {
	max-width: 170px;
}

.well {
	background-color: #ebebeb;
	border-color: #ebebeb;
}

h1 {
	border-bottom: 1px #dddddd solid;
	padding-bottom: 5px;
}

ol {
    counter-reset:li; /* Initiate a counter */
    margin-left:0; /* Remove the default left margin */
    padding-left:0; /* Remove the default left padding */
}
ol > li {
    position:relative; /* Create a positioning context */
    margin:25px 0 6px 2em; /* Give each list item a left margin to make room for the numbers */
    padding:4px 8px; /* Add some spacing around the content */
    list-style:none; /* Disable the normal item numbering */
    /* border-bottom: 1px #dddddd solid; */
    /* background:#f6f6f6; */
}
ol > li:before {
    content:counter(li); /* Use the counter as content */
    counter-increment:li; /* Increment the counter by 1 */
    /* Position and style the number */
    position:absolute;
    top:2px;
    left:-2em;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    width:2em;
    /* Some space between the number and the content in browsers that support
       generated content but not positioning it (Camino 2 is one example) */
    margin-right:8px;
    padding:4px;
    /* border-top:2px solid #666; */
    border-radius: 20px;
    color:#fff;
    background:#273644;
    font-weight:bold;
    font-family:"Helvetica Neue", Arial, sans-serif;
    text-align:center;
}
li ol,
li ul {margin-top:6px;}
ol ol li:last-child {margin-bottom:0;}

ol li h2 {
	margin: 0 0 25px 0;
	font-size: 20px;
	font-weight: 200;
	border-bottom: 1px #dddddd solid;
	padding-bottom: 10px;
	
}

ol li h3 {
	font-size: 15px;
	font-weight: 200;
	margin: 0 0 10px 0;
}

.dropdown-menu, .dropdown-menu li {
	background-color: #e7e7e7;
	border-color: #e7e7e7;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	color: #555555;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
	color: #fff;
}

.dropdown-menu li a:hover {
	background-color: #2c6d9c;
}

strong {
	font-weight: 400;
}

.navbar-default .navbar-nav > li > a, .navbar-default a.navbar-brand {
	color: #fff;
}

.navbar-default {
	background-color: #2c6d9c;
}

.navbar-default .navbar-header a:hover, .navbar-default .navbar-collapse .nav a:hover {
	color: #2c3e50;
}

.navbar-default .badge {
	background-color: #e74c3c;
	color: #fff;
	border: 1px #fff solid;
	margin-right: 5px;
	padding: 3px 6px;
}

.navbar a.favorites, .navbar-default .navbar-collapse .nav a.favorites:hover {
	background-color: #27ae60;
	margin-top: 4.5px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 3px;
	height: 38px;
	line-height: 38px;
	padding: 0 20px;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(27,122,67,1);
	-moz-box-shadow: 0px 3px 5px 0px rgba(27,122,67,1);
	box-shadow: 0px 3px 5px 0px rgba(27,122,67,1);
}

.navbar-default .navbar-collapse .nav a.referral:hover {
	background-color: #27ae60;
}

.btn-info, .btn-info:hover {
	background-color: #27ae60;
	border-color: #27ae60;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(27,122,67,1);
	-moz-box-shadow: 0px 3px 5px 0px rgba(27,122,67,1);
	box-shadow: 0px 3px 5px 0px rgba(27,122,67,1);
}

.btn-search, .btn-search:hover  {
	color: #fff;
	background-color: #2c6d9c;
	border-color: #2c6d9c;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(39,54,68,1);
	-moz-box-shadow: 0px 3px 5px 0px rgba(39,54,68,1);
	box-shadow: 0px 3px 5px 0px rgba(39,54,68,1);
}

.update-favorites {
	font-size: 20px;
	color: #2c6d9c;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

/* login */

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin h1, h1.signup {
	border-bottom: 0;
}

.form-signin fieldset {
	background-color: #ebebeb;
}

.form-signin input, .form-signin button {
	max-width: 250px;
	margin: 10px auto;
}

.form-signin button {
	margin-top: 30px;
	background: #35495d;
	border-color: #35495d;
}

.form-signin h1, h1.signup {
	color: #2c6d9c;
	font-weight: 100;
	font-size: 56px;
}

.form-signin legend {
	color: #fff;
	background-color: #2c6d9c;
	height: 50px;
	line-height: 50px;
}

.form-signin h2 {
	margin: 0 0 0 15px;
	line-height: 50px;
	font-size: 20px;
	font-weight: 200;
}

.form-signin label, .form-signin a {
	color: #7d7d7d;
	line-height: 30px;
	font-weight: normal;
	font-size: 12px;
}

.form-signin label {
	margin-left: 45px;
	width: 100px;
}

.form-signin a {
	margin-right: 20px;
	text-decoration: underline;
}

/* make referral */
.make-referral {
	background-color: #ebebeb;
	padding: 0;
	margin: 15px;
	font-size: 13px;
	height: 275px;
}

.make-referral, .make-referral h3, .make-referral h4, .make-referral-header, .make-referral a {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.make-referral label {
	padding-left: 20px;
}

.make-referral-header {
	background-color: #2c6d9c;
	margin: 0 0 20px 0;
	height: 56px;
	position: relative;
	padding: 0;
}

.make-referral-header h3 {
	font-size: 17px;
	font-weight: bold;
	color: #fff;
	/* float: left; */
	margin: 12px 0 0 12px;
	padding: 0;
	display: block;
}

.make-referral-header h4 {
	/* float: left; */
	display: block;
	font-size: 15px;
	color: #fff;
	margin: 0 0 12px 12px;
	padding: 0;
	font-weight: 100;
}

.make-referral-header img {
	float: left;
	height: 56px;
	margin-right: 12px;
	
}

.make-referral a {
	color: #2c6d9c;
}

.make-referral a.btn {
	color: #fff;
}

/* form elements */
.multi-selector {
	background-color: #f2f2f2;
	color: #777777;
	text-decoration: none;
	padding: 12px;
	margin-bottom: 12px;
	font-weight: bold;
	display: block;
	width:90%;
}

.multi-selector span {
	display: block;
	font-size: 12px;
}

.multi-selector:hover {
	background-color: #d9d9d9;
	text-decoration: none;
	color: #777777;
}

.tooth-chart {
	margin-bottom: 20px;
}

.tooth {
	background-color: #f2f2f2;
	color: #777777;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	border: 1px #b5b5b5 solid;
}

.tooth:hover {
	background-color: #d9d9d9;
	text-decoration: none;
	color: #777777;
}

.deciduous-tooth {
	padding: 5px 0;
	margin: 3px;
	width: 43px;
	display: inline-block;
	border-radius: 4px;
}

.permanent-tooth {
	padding: 5px 0;
	margin: 3px;
	display: inline-block;
	border-radius: 4px;	
}

.square {
	width: 27px;
}

.circle {
	width: 20px;
	border-radius: 20px;
}

.frisbee {
	width: 20px;
	padding: 0;
	margin: 8px 3px;
}

.selected, .selected:hover {
	background-color: #2c6d9c;
	color: #fff;
	text-decoration: none;
}

.deciduous-top-left, .permanent-top-left, .permanent-bottom-left, .deciduous-bottom-left {
	border-right: 2px #333333 solid;
	text-align: right;
}

.permanent-top-left, .permanent-top-right {
	border-bottom: 2px #333333 solid;
}

.critical .task-label, .critical .label {
	background: #952715;
}

.high .task-label, .high .label {
	background: #f26f21;
}

.medium .task-label, .medium .label   {
	background: #f39f09;
}

.low .task-label, .low .label  {
	background: #6da79b;
}

.critical a {
	color: #952715;
}

.high a  {
	color: #f26f21;
}

.medium a  {
	color: #f39f09;
}

.low a  {
	color: #6da79b;
}

.task-label {
	display: block;
	padding: 15px;
	text-align: center;
	border-radius: 10px;
	color: #fff;
	margin-bottom: 10px;
}

.unread {
	font-weight: bold;
	text-transform: uppercase;
}

.task-list, .task-filter {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #e7e7e7;
}

.task-comments {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
}

.task-comments .row {
	margin-top: 20px;
	margin-bottom: 20px;
}

.due-date {
	background: #952715;
	color: #fff;
	padding: 5px 15px;
	margin-left: 5px;
	border-radius: 10px;
	font-size: 12px;
	text-transform: uppercase;
}

.task-review-mainbar {
	padding: 40px;
}

.task-review-sidebar {
	padding: 40px;
}

.task-review-sidebar {
	background: #E6E6E6;
}

.error {
	color: #952715;
}

.doctor-avatar {
	float: left;
	height: 56px;
	margin-right: 18px;
	overflow: hidden;
	position: relative;
	width: 56px;
}

.doctor-avatar span {
	text-rendering: optimizeLegibility;
	background: #7d7d7d;
	color: #fff;
	display: block;
	font: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: x-large;
	height: 56px;
	line-height: 56px;
	/* padding: 14px 0 12px 0; */
	text-align: center;
	width: 56px;
}

#hour-update a {
	padding: 0;
}

.tab-pane {
	margin-top: 10px;
}

.image-placeholder {
	width: 100%;
	height: 100px;
	display: block;
	line-height: 100px;
	text-align: center;
	text-transform: uppercase;
	background-color: #f7f7f9;
}

.modal-header {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background-color: #ebebeb;
}

#modal-search-form label, #modal-search-form input, #modal-search-form select {
	margin-right: 20px;
}

#search-results strong {
	font-weight: bold;
	font-size: 18px;
}

#patient_city-id, #patient_state-id, #patient_zipcode-id {
	display: inline-block;
}

#patient_city-id {
	width: 30%;
}

#patient_state-id, #patient_zipcode-id {
	width: 20%;
}

#notes-id {
	height: 126px;
}

#patient-filters input, #patient-filters select {
	background: #ebebeb;
	border: 0;
	border-radius: 1px;
}

#patient-card {
	margin-top: 50px;
	font-size: 13px;
}

#patient-card .attachments {
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px #dddddd solid;
	border-bottom: 1px #dddddd solid;
}

.big-details {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 20px;
}

#patient-card label {
	text-align: right;
	font-weight: bold;
	width: 60px;
	margin-right: 20px;
	vertical-align: text-top;
}

#patient-card address {
	display: inline-block;
}

#patient-card .avatar {
	width: 40px;
}

.comment-row {
	border-bottom: 1px #dddddd solid;
	padding-bottom: 30px;
	margin: 0 0 30px 20px;
}

.avatar-holder {
	padding-left: 0;
}

.leave-comment {
	padding: 0 0 30px 20px;
}

.comment-row strong {
	font-weight: bold;
	font-size: 14px;
}

.comment-row span {
	margin: 0 5px;
}

.dob input {
	max-width: 56px;
	text-align: center;
}

.dob span {
	margin: 0 5px;
}

.scheduled-appointment-block {
	background-color: #273644;
	border-radius: 4px;
	color: #fff;
	padding: 10px 15px;
}

.scheduled-appointment-block span {
	display: block;
	font-size: 16px;
	font-weight: bold;
}

.caret.caret-reversed {
    border-top-width: 0;
    border-bottom: 4px solid;
}

.patient-card-actions {
	border-top: 1px #b1b1b1 solid;
	margin-top: 40px;
	padding-top: 15px;
}

.patient-card-actions .actions a {
	color: #000;
}

.dark-blue {
	background: #35495d;
	border-color: #35495d;
}

@media (min-width: 1200px)  {

	#doctor-search input, #doctor-search label, #doctor-search select {
		margin-right: 25px;
	}
	
	#doctor-search #location-id, #doctor-search #specialty-id {
		min-width: 220px;
	}
	
	#doctor-search #name-id {
		min-width: 295px;
	}
	
	.doctor-list .col-md-3 {
		width: 22%;
	}
}