.critical .task-label, .critical .label {
	background: #952715;
}

.high .task-label, .high .label {
	background: #f26f21;
}

.medium .task-label, .medium .label   {
	background: #f39f09;
}

.low .task-label, .low .label  {
	background: #6da79b;
}

.critical a {
	color: #952715;
}

.high a  {
	color: #f26f21;
}

.medium a  {
	color: #f39f09;
}

.low a  {
	color: #6da79b;
}

.task-label {
	display: block;
	padding: 15px;
	text-align: center;
	border-radius: 10px;
	color: #fff;
	margin-bottom: 10px;
}

.unread {
	font-weight: bold;
	text-transform: uppercase;
}

.task-list, .task-filter {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #e7e7e7;
}

.task-comments {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
}

.task-comments .row {
	margin-top: 20px;
	margin-bottom: 20px;
}

.due-date {
	background: #952715;
	color: #fff;
	padding: 5px 15px;
	margin-left: 5px;
	border-radius: 10px;
	font-size: 12px;
	text-transform: uppercase;
}

.task-review-mainbar {
	padding: 40px;
}

.task-review-sidebar {
	padding: 40px;
}

.task-review-sidebar {
	background: #E6E6E6;
}

.error {
	color: #952715;
}

.issue-member-avatar {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	/* float: left; */
	height: 100px;
	margin-right: 18px;
	overflow: hidden;
	position: relative;
	width: 100px;
}

.issue-member-avatar span {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background: #d7d7d7;
	color: white;
	display: block;
	font: normal 18px/22px "AvenirLT-Black","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: xx-large;
	height: 100px;
	line-height: 100px;
	/* padding: 14px 0 12px 0; */
	text-align: center;
	width: 100px;
}

#hour-update a {
	padding: 0;
}

.tab-pane {
	margin-top: 10px;
}

.image-placeholder {
	width: 100%;
	height: 100px;
	display: block;
	line-height: 100px;
	text-align: center;
	text-transform: uppercase;
	background-color: #f7f7f9;
}